@import "tailwindcss";

.btn-primary {
  @apply font-bold lg:text-base text-sm py-3 px-5 rounded-lg;
  background-color: #dbd0a6;
}
.btn-secondary {
  @apply font-bold lg:text-base text-sm text-white py-3 px-5 rounded-lg border border-[#dbd0a6];
}
.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.head-badge {
  @apply border border-[#DBD0A6] rounded-lg p-4 text-white font-medium flex items-center gap-2 w-fit text-[20px];
}
